/* --------- section archivo -------- */
.archivos {
  width: 100%;
  margin-top: 3.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.documento {
  width: 270px;
  height: 18rem;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0.5rem 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
}

.documento img {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.documento span {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--pdfColor);
  color: #fff;
  position: absolute;
  top: 70%;
}

.descarga {
  width: 3rem;
  height: 3rem;
  position: absolute;
  text-align: center;
  line-height: 2.2rem;
  border-radius: 50%;
  background-color: var(--pdfColor);
  margin: 0 0.5rem;
  transition: .2s;
  left: 76%;
  top: 2%;
  border: 0;
  transition: 0.2s;
}

.descarga:hover {
  transform: scale(0.9);
}

.descarga i {
  color: #fff !important;
}
