/* ----footer---- */
footer {
  background-color: #2c0303;
  width: 100%;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.derechos b {
  display: block;
  font-size: 0.55rem;
  margin: 0.3rem 0 -0.2rem;
  color: #aaa;
}

.derechos p {
  font-size: 0.48rem;
  line-height: 0.5rem;
  color: #aaa !important;
}

.derechos p span {
  color: var(--themeColor);
}
