.liturgia {
  width: 100%;
  margin-top: 3.6rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.liturgia iframe {
  width: 100%;
  height: calc(100vh - 6.2rem);
}
