.sidebar {
  position: fixed;
  top: 3.6rem;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0 20px;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.sidebar hr {
  margin: 0;
}

.sidebar h6 {
  margin: 2.4rem 0 1rem;
  font-weight: 600;
  font-size: 19px;
  color: var(--pdfColor)
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-top: 2rem;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 12px;
  font-weight: 500;
}

.sidebar ul li button {
  all: unset;
  width: 100%;
  padding: 12px;
  color: #000;
  font-weight: 500;
  margin: 0;
}

.content {
  margin-left: 10px;
  padding: 20px;
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 1.6rem;
}

.actions button {
  width: max-content;
  height: 2.4rem;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  background-color: #eae2e2;
}

.actions button p {
  text-align: start;
  font-size: 0.9rem;
  line-height: 0.8rem;
  margin: 0;
  font-weight: 500;
}
