.redes {
  width: 100%;
  margin-top: 3.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.redes-sociales {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.insta {
  color: #fff;
  background: linear-gradient(45deg, #ee9536, #f72061);
  font-size: 2.2rem;
}

.face {
  color: #ffffff;
  background-color: #20328c;
  font-size: 1.6rem;
}

.you {
  color: #ffffff;
  background-color: #e50000;
  font-size: 1.6rem;
  padding-left: 0.2rem;
}

.whp {
  color: #ffffff;
  background-color: #309918;
  font-size: 2.2rem;
}

.mail {
  color: #f5f5f5;
  background-color: #e52222;
  font-size: 1.7rem;
}

.spot {
  color: #1db954;
  background-color: #000;
  font-size: 2rem;
}

.redes-sociales a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 3.4rem;
  height: 3.4rem;
  margin: 1.2rem;
  border-radius: 50%;
  text-decoration: none;
  background-color: #f5f5f5;
  transition: all 0.3s;
}

.redes-sociales a:hover {
  transform: scale(0.9);
}

.redes-sociales a i {
  width: 100%;
  height: 100%;
  line-height: 1.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes-sociales a p {
  font-size: 0.8rem;
  color: #000;
  position: absolute;
  top: 3.6rem;
  font-weight: 500;
}

.ubicacion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem 0 2rem;
}
