/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* CSS Reset */
html {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Variables */
:root {
  --themeColor: #bb0000;
  --iconBGColor: #dededecc;
  --pdfColor: #690c00;
}

/* ----body---- */
.app-2025 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../images/fondoApp.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed !important;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
